@font-face {
  font-family: "Open Sans";
  src: local("OpenSansRegular"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSansSemiBold"), url("../fonts/OpenSansSemiBold.woff2") format("woff2"), url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSansBold"), url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSansItalic"), url("../fonts/OpenSansItalic.woff2") format("woff2"), url("../fonts/OpenSansItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* general */
:root {
  --bg-color-1: #000;
  --text-color-1: #fff;
  --focus: #7943A4;
  --hover: #C283F3;
  --active: #7943A4;
  --border-1: #9D5CD0;
}

html
{
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

*, *::before, *::after
{
  box-sizing: inherit;
  font-family: inherit;
}

body {
  position: relative;
}

a
{
  color: inherit;
  text-decoration: none;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1630px;
}

.list-reset
{
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* header */

.header {
  position: absolute;
  z-index: 15;
  left: 0;
  right: 0;
  top: 0;
}

.header__top {
  background-color: var(--bg-color-1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container_top {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__link-logo {
  display: flex;
  flex-shrink: 0;
  margin-right: 80px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 1247px;
  margin-bottom: 1px;
}

.header__nav {
  margin-right: 62px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  position: relative;
  display: flex;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: var(--text-color-1);
  transition: color 0.2s ease-in-out;
}

.nav__link::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -6px;
  right: -6px;
  background-color: var(--focus);
  opacity: 0;
}

.nav__link:focus {
  outline: none;
}

.nav__link:focus:not(:active):not(:hover)::before {
  opacity: 1;
}

.nav__link:hover {
  color: var(--hover);
}

.nav__link:active {
  color: var(--active);
}

.nav__link span {
  position: relative;
  z-index: 10;
}

.header__log-in-link {
  position: relative;
  display: flex;
  align-items: center;
}

.header__log-in-link:focus {
  outline: none;
}

.header__log-in-link::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -6px;
  right: -6px;
  background-color: var(--focus);
  opacity: 0;
}

.header__log-in-link:focus:not(:active):not(:hover)::before {
  opacity: 1;
}

.header__log-in-icon path {
  transition: fill 0.2s ease-in-out;
}

.header__log-in-link:hover .header__log-in-icon path {
  fill: var(--hover);
}

.header__log-in-link:hover .header__log-in-text {
  color: var(--hover);
}

.header__log-in-link:active .header__log-in-icon path {
  fill: var(--active);
}

.header__log-in-link:active .header__log-in-text {
  color: var(--active);
}

.header__log-in-icon, .header__log-in-text {
  z-index: 2;
}

.header__log-in-icon {
  margin-right: 7px;
}

.header__log-in-text {
  display: flex;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color-1);
  transition: color 0.2s ease-in-out;
}

.header__bottom {
  background: rgba(0, 0, 0, 0.5);
}

.header__container_bottom {
  padding-top: 22px;
  padding-bottom: 21px;
}

.header__art-nav {
  margin-top: 1px;
}

.art-nav__list {
  display: flex;
}

.art-nav__item {
  position: relative;
  display: flex;
  align-items: center;
}

.art-nav__item:not(:last-child) {
  margin-right: 100px;
}

.art-nav__btn {
  position: relative;
  padding-right: 11px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--text-color-1);
  transition: color 0.2s ease-in-out;
}

.art-nav__btn span {
  position: relative;
  z-index: 2;
}

.art-nav__btn:focus {
  outline: none;
}

.art-nav__btn:hover {
  color: var(--hover);
}

.art-nav__btn:active {
  color: var(--active);
}

.art-nav__btn::before {
  content: "";
  position: absolute;
  top: 1px;
  bottom: -2px;
  left: -6px;
  right: -6px;
  background-color: var(--focus);
  opacity: 0;
}

.art-nav__btn:focus:not(:active):not(:hover):not(.art-nav__btn_active)::before {
  opacity: 1;
}

.art-nav__btn::after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  width: 7.5px;
  height: 7.5px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  transform-origin: center;
  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.art-nav__btn:hover::after {
  border-color: var(--hover);
}

.art-nav__btn:active::after {
  border-color: var(--active);
}

.art-nav__btn_active {
  color: var(--active);
}

.art-nav__btn_active::after {
  transform: translateY(4px) rotate(135deg);
  border-color: var(--active);
}

.sub-menu {
  visibility: hidden;
  position: absolute;
  top: calc(100% + 21px);
  left: 0;
  padding-left: 40px;
  padding-right: 19px;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.sub-menu_active {
  visibility: visible;
  padding-top: 40px;
  padding-bottom: 40px;
  max-height: 300px;
}

.sub-menu_inactive {
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
}

.sub-menu__list {
  width: 241px;
  max-height: 220px;
  overflow: auto;
}

.sub-menu__item {
  position: relative;
  padding: 9px 14px 12px;
  width: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.sub-menu__item[data-name="tintoretto"] {
  background-image: url("../img/item-bg-tintoretto.jpg");
}

.sub-menu__item[data-name="friedrich"] {
  background-image: url("../img/item-bg-friedrich.jpg");
}

.sub-menu__item[data-name="leonardo"] {
  background-image: url("../img/item-bg-leonardo.jpg");
}

.sub-menu__item[data-name="verrocchio"] {
  background-image: url("../img/item-bg-verrocchio.jpg");
}

.sub-menu__item[data-name="monet"] {
  background-image: url("../img/item-bg-monet.jpg");
}

.sub-menu__item[data-name="sisley"] {
  background-image: url("../img/item-bg-sisley.jpg");
}

.sub-menu__item[data-name="manet"] {
  background-image: url("../img/item-bg-manet.jpg");
}

.sub-menu__item[data-name="renoir"] {
  background-image: url("../img/item-bg-renoir.jpg");
}

.sub-menu__item[data-name="van-gogh"] {
  background-image: url("../img/item-bg-van-gogh.jpg");
}

.sub-menu__item[data-name="cezanne"] {
  background-image: url("../img/item-bg-cezanne.jpg");
}

.sub-menu__item[data-name="gauguin"] {
  background-image: url("../img/item-bg-gauguin.jpg");
}

.sub-menu__item[data-name="seurat"] {
  background-image: url("../img/item-bg-seurat.jpg");
}

.sub-menu__item[data-name="kandinsky"] {
  background-image: url("../img/item-bg-kandinsky.jpg");
}

.sub-menu__item[data-name="marinetti"] {
  background-image: url("../img/item-bg-marinetti.jpg");
}

.sub-menu__item[data-name="malevich"] {
  background-image: url("../img/item-bg-malevich.jpg");
}

.sub-menu__item[data-name="picasso"] {
  background-image: url("../img/item-bg-picasso.jpg");
}

.sub-menu__item[data-name="carra"] {
  background-image: url("../img/item-bg-carra.jpg");
}

.sub-menu__item[data-name="pratella"] {
  background-image: url("../img/item-bg-pratella.jpg");
}

.sub-menu__item[data-name="severini"] {
  background-image: url("../img/item-bg-severini.jpg");
}

.sub-menu__item[data-name="balla"] {
  background-image: url("../img/item-bg-balla.jpg");
}

.sub-menu__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-color-1);
}

.sub-menu__link:focus {
  outline: none ;
}

.sub-menu__link span {
  position: relative;
  z-index: 2;
}

.sub-menu__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--border-1);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.sub-menu__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  transition: opacity 0.2s ease-in-out;
}

.sub-menu__link:not(:active):focus::before,
.sub-menu__link:not(:active):hover::before {
  opacity: 1;
}

.sub-menu__link:active::after {
  opacity: 1;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.simplebar-scrollbar:before {
  left: 0;
  right: 0;
  border-radius: 0;
}

.simplebar-scrollbar.simplebar-visible:before {
  background-color: #fff;
  opacity: 1;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.search {
  display: flex;
  align-items: flex-end;
  margin-top: 1px;
}

.search__btn {
  display: flex;
  margin-right: 11px;
}

.search__input {
  padding: 0;
  width: 218px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color-1);
  transition: border-color 0.2s ease-in-out;
}

.search__input:focus {
  outline: none;
  border-color: var(--active);
}

.search__input:not(:focus):hover {
  border-color: var(--hover);
}

.search__input::placeholder {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

/* hero */
.hero {
  position: relative;
  margin: 0 auto;
  padding-top: 233px;
  padding-bottom: 122px;
  max-width: 1920px;
}

.hero__container {
  position: relative;
  z-index: 10;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h1 {
  margin: 0;
  margin-bottom: -3px;
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--text-color-1);
}

.hero__description {
  margin-bottom: 92px;
  max-width: 556px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color-1);
}

.hero__btn {
  position: relative;
  pointer-events: auto;
  padding: 19.5px 32px;
  border: 3px solid #9D5CD0;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color-1);
  background-color: #9D5CD0;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.hero__btn:focus {
  outline: none;
}

.hero__btn:not(:hover):not(:active):focus::after {
  opacity: 1;
}

.hero__btn:hover, .hero__btn:active {
  border-color: #D1A9F0;
}

.hero__btn:active {
  background-color: var(--active);
}

.hero__btn::after {
  position: absolute;
  content: "";
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
}

.hero-swiper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-swiper__picture {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-swiper__img {
  flex-shrink: 0;
  height: 100%;
}

.swiper-button-prev, .swiper-button-next {
  top: 0;
  margin-top: 0;
  height: 100%;
  width: 200px;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev:after, .swiper-button-next:after {
  display: none;
}
