@font-face {
  font-family: "Open Sans";
  src: local("OpenSansRegular"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSansSemiBold"), url("../fonts/OpenSansSemiBold.woff2") format("woff2"), url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSansBold"), url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSansItalic"), url("../fonts/OpenSansItalic.woff2") format("woff2"), url("../fonts/OpenSansItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* general */
:root {
  --bg-color-1: #000;
  --text-color-1: #fff;
  --text-color-2: #333;
  --focus: #7943A4;
  --hover: #C283F3;
  --active: #7943A4;
  --border-1: #9D5CD0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.body_lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1630px;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text-color-2);
}

/* header */

.header {
  position: absolute;
  z-index: 15;
  left: 0;
  right: 0;
  top: 0;
}

.header__top {
  background-color: var(--bg-color-1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container_top {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__link-logo {
  display: flex;
  flex-shrink: 0;
  margin-right: 80px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 1247px;
  margin-bottom: 1px;
}

.header__nav {
  margin-right: 62px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  position: relative;
  display: flex;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: var(--text-color-1);
  transition: color 0.2s ease-in-out;
}

.nav__link::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -6px;
  right: -6px;
  background-color: var(--focus);
  opacity: 0;
}

.nav__link:focus {
  outline: none;
}

.nav__link:focus:not(:active):not(:hover)::before {
  opacity: 1;
}

.nav__link:hover {
  color: var(--hover);
}

.nav__link:active {
  color: var(--active);
}

.nav__link span {
  position: relative;
  z-index: 10;
}

.header__log-in-link {
  position: relative;
  display: flex;
  align-items: center;
}

.header__log-in-link:focus {
  outline: none;
}

.header__log-in-link::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -6px;
  right: -6px;
  background-color: var(--focus);
  opacity: 0;
}

.header__log-in-link:focus:not(:active):not(:hover)::before {
  opacity: 1;
}

.header__log-in-icon path {
  transition: fill 0.2s ease-in-out;
}

.header__log-in-link:hover .header__log-in-icon path {
  fill: var(--hover);
}

.header__log-in-link:hover .header__log-in-text {
  color: var(--hover);
}

.header__log-in-link:active .header__log-in-icon path {
  fill: var(--active);
}

.header__log-in-link:active .header__log-in-text {
  color: var(--active);
}

.header__log-in-icon, .header__log-in-text {
  z-index: 2;
}

.header__log-in-icon {
  margin-right: 7px;
}

.header__log-in-text {
  display: flex;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color-1);
  transition: color 0.2s ease-in-out;
}

.header__bottom {
  background: rgba(0, 0, 0, 0.5);
}

.header__container_bottom {
  padding-top: 22px;
  padding-bottom: 21px;
}

.header__art-nav {
  margin-top: 1px;
}

.art-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.art-nav__item {
  position: relative;
  display: flex;
  align-items: center;
}

.art-nav__item:not(:last-child) {
  margin-right: 100px;
}

.art-nav__btn {
  position: relative;
  padding-right: 11px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--text-color-1);
  transition: color 0.2s ease-in-out;
}

.art-nav__btn span {
  position: relative;
  z-index: 2;
}

.art-nav__btn:focus {
  outline: none;
}

.art-nav__btn:hover {
  color: var(--hover);
}

.art-nav__btn:active {
  color: var(--active);
}

.art-nav__btn::before {
  content: "";
  position: absolute;
  top: 1px;
  bottom: -2px;
  left: -6px;
  right: -6px;
  background-color: var(--focus);
  opacity: 0;
}

.art-nav__btn:focus:not(:active):not(:hover):not(.art-nav__btn_active)::before {
  opacity: 1;
}

.art-nav__btn::after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  width: 7.5px;
  height: 7.5px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  transform-origin: center;
  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.art-nav__btn:hover::after {
  border-color: var(--hover);
}

.art-nav__btn:active::after {
  border-color: var(--active);
}

.art-nav__btn_active {
  color: var(--active);
}

.art-nav__btn_active::after {
  transform: translateY(4px) rotate(135deg);
  border-color: var(--active);
}

.sub-menu {
  visibility: hidden;
  position: absolute;
  top: calc(100% + 21px);
  left: 0;
  padding-left: 40px;
  padding-right: 19px;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.sub-menu_active {
  visibility: visible;
  padding-top: 40px;
  padding-bottom: 40px;
  max-height: 300px;
}

.sub-menu_inactive {
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
}

.sub-menu__wrapper {
  width: 241px;
  max-height: 220px;
  overflow: auto;
}

.sub-menu__list {
  width: 241px;
  /* max-height: 220px;
  overflow: auto; */
}

.sub-menu__item {
  position: relative;
  padding: 9px 14px 12px;
  width: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.sub-menu__item[data-name="tintoretto"] {
  background-image: url("../img/item-bg-tintoretto.jpg");
}

.sub-menu__item[data-name="friedrich"] {
  background-image: url("../img/item-bg-friedrich.jpg");
}

.sub-menu__item[data-name="leonardo"] {
  background-image: url("../img/item-bg-leonardo.jpg");
}

.sub-menu__item[data-name="verrocchio"] {
  background-image: url("../img/item-bg-verrocchio.jpg");
}

.sub-menu__item[data-name="monet"] {
  background-image: url("../img/item-bg-monet.jpg");
}

.sub-menu__item[data-name="sisley"] {
  background-image: url("../img/item-bg-sisley.jpg");
}

.sub-menu__item[data-name="manet"] {
  background-image: url("../img/item-bg-manet.jpg");
}

.sub-menu__item[data-name="renoir"] {
  background-image: url("../img/item-bg-renoir.jpg");
}

.sub-menu__item[data-name="van-gogh"] {
  background-image: url("../img/item-bg-van-gogh.jpg");
}

.sub-menu__item[data-name="cezanne"] {
  background-image: url("../img/item-bg-cezanne.jpg");
}

.sub-menu__item[data-name="gauguin"] {
  background-image: url("../img/item-bg-gauguin.jpg");
}

.sub-menu__item[data-name="seurat"] {
  background-image: url("../img/item-bg-seurat.jpg");
}

.sub-menu__item[data-name="kandinsky"] {
  background-image: url("../img/item-bg-kandinsky.jpg");
}

.sub-menu__item[data-name="marinetti"] {
  background-image: url("../img/item-bg-marinetti.jpg");
}

.sub-menu__item[data-name="malevich"] {
  background-image: url("../img/item-bg-malevich.jpg");
}

.sub-menu__item[data-name="picasso"] {
  background-image: url("../img/item-bg-picasso.jpg");
}

.sub-menu__item[data-name="carra"] {
  background-image: url("../img/item-bg-carra.jpg");
}

.sub-menu__item[data-name="pratella"] {
  background-image: url("../img/item-bg-pratella.jpg");
}

.sub-menu__item[data-name="severini"] {
  background-image: url("../img/item-bg-severini.jpg");
}

.sub-menu__item[data-name="balla"] {
  background-image: url("../img/item-bg-balla.jpg");
}

.sub-menu__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-color-1);
}

.sub-menu__link:focus {
  outline: none ;
}

.sub-menu__link span {
  position: relative;
  z-index: 2;
}

.sub-menu__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--border-1);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.sub-menu__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(194, 131, 243, 0.4);
  transition: opacity 0.2s ease-in-out;
}

.sub-menu__link:not(:active):focus::before,
.sub-menu__link:not(:active):hover::before {
  opacity: 1;
}

.sub-menu__link:active::after {
  opacity: 1;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.simplebar-scrollbar:before {
  left: 0;
  right: 0;
  border-radius: 0;
}

.simplebar-scrollbar.simplebar-visible:before {
  background-color: #fff;
  opacity: 1;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.search {
  display: flex;
  align-items: flex-end;
  margin-top: 1px;
}

.search__btn {
  display: flex;
  margin-right: 11px;
}

.search__btn:focus{
  outline: none;
}

.search__btn rect, .search__btn path {
  transition: fill 0.2s ease-in-out;
}

.search__btn:focus rect,
.search__btn:focus path,
.search__btn:hover rect,
.search__btn:hover path {
  fill: #9D5CD0;
}

.search__btn:active rect,
.search__btn:active path {
  fill: #7943A4;
}

.search__input {
  padding: 0;
  width: 218px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color-1);
  transition: border-color 0.2s ease-in-out;
}

.search__input:focus {
  outline: none;
  border-color: var(--active);
}

.search__input:not(:focus):hover {
  border-color: var(--hover);
}

.search__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  transition: opacity 0.2s ease-in-out;
}

.search__input:focus::placeholder {
  opacity: 0;
}

/* hero */
.hero {
  position: relative;
  margin: 0 auto;
  padding-top: 233px;
  padding-bottom: 122px;
  max-width: 1920px;
}

.hero__container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h1 {
  margin: 0;
  margin-bottom: -3px;
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--text-color-1);
}

.hero__description {
  margin-bottom: 92px;
  max-width: 556px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color-1);
}

.hero__btn {
  position: relative;
  padding: 19.5px 32px;
  border: 3px solid #9D5CD0;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color-1);
  background-color: #9D5CD0;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.hero__btn:focus {
  outline: none;
}

.hero__btn:not(:hover):not(:active):focus::after {
  opacity: 1;
}

.hero__btn:hover, .hero__btn:active {
  border-color: #D1A9F0;
}

.hero__btn:active {
  background-color: var(--active);
}

.hero__btn::after {
  position: absolute;
  content: "";
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
}

.hero-swiper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.hero-swiper__picture {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-swiper__img {
  flex-shrink: 0;
  height: 100%;
}


/* about-us */
.about-us {
  padding-bottom: 70px;
}

.about-us__title {
  margin-bottom: 16px;
}

.about-us__text {
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-2);
}

/* gallery */
.gallery {
  margin: 0 auto;
  max-width: 1920px;
  background-image: url("../img/gallery-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__container {
  display: flex;
  align-items: flex-end;
}

.gallery__control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}

.gallery__title {
  margin-bottom: 16px;
  color: var(--text-color-1);
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-1);
}

.choices {
  margin-bottom: 176px;
  width: 400px;
}

.is-selected {
  display: none;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 4px;
}

.choices__inner {
  padding: 2px 16px 4px 16px;
  min-height: 40px;
  border-radius: 6px;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-1);
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one]::after {
  top: 16px;
  right: 15px;
  margin-top: 0;
  width: 7.5px;
  height: 7.5px;
  border: none;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  transition: transform 0.2s ease-in-out;
}

.choices[data-type*=select-one].is-open::after {
  border-color: #fff;
  margin-top: 0;
  transform: translateY(50%) rotate(135deg);
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  background-color: #000;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  border: 1px solid #999;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  padding: 3px 16px 4px;
  border-bottom: 1px solid #999;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.choices__list--dropdown .choices__item:last-child,
.choices__list[aria-expanded] .choices__item:last-child {
  padding-bottom: 3px;
  border-bottom: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);;
}

.choices.is-focused .choices__inner, .choices:hover .choices__inner {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter__point {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 24px;
  cursor: pointer;
}

.filter__radio {
  width: 0;
  height: 0;
  opacity: 0;
}

.filter__custom-radio {
  position: absolute;
  top: calc(50% - 6px);
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  transition: border-color 0.2s ease-in-out;
}

.filter__point:not(:hover) .filter__radio:focus + .filter__custom-radio {
  border-color: #C283F3;
}

.filter__point:hover .filter__custom-radio {
  border-color: #C283F3;
}

.filter__point:not(:hover) .filter__radio:checked + .filter__custom-radio {
  border-color: #C283F3;
}

.filter__custom-radio::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 2px);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #C283F3;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.filter__radio:checked + .filter__custom-radio::after {
  opacity: 1;
}

.filter__radio-text {
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-1);
  transition: color 0.2s ease-in-out;
}

.filter__point:not(:hover) .filter__radio:focus ~ .filter__radio-text {
  color: #C283F3;
}

.filter__point:not(:hover) .filter__radio:checked ~ .filter__radio-text {
  color: #C283F3;
}

.gallery-swiper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 410px;
  padding-top: 60px;
}

.gallery-swiper__picture {
  display: flex;
}

.gallery-swiper__img {
  width: 100%;
  height: 100%;
}

.gallery-swiper__nav {
  position: absolute;
  top: 0;
  left: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
}

.gallery-swiper__button-prev,
.gallery-swiper__button-next,
.gallery-swiper__pagination {
  position: relative;
}

.gallery-swiper__pagination {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-1);
}

.gallery-swiper__button-prev, .gallery-swiper__button-next {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #666;
  border-radius: 100%;
  background-color: #666;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.gallery-swiper__button-prev:focus,
.gallery-swiper__button-next:focus {
  outline: none;
  border-color: #000;
}

.gallery-swiper__button-prev:not(.swiper-button-disabled):hover,
.gallery-swiper__button-next:not(.swiper-button-disabled):hover {
  background-color: #9D5CD0;
  border-color: #9D5CD0;
}

.gallery-swiper__button-prev:not(.swiper-button-disabled):active,
.gallery-swiper__button-next:not(.swiper-button-disabled):active {
  background-color: var(--active);
  border-color: #000;
}

.swiper-pagination-fraction {
  bottom: 0;
  width: auto;
}

.gallery-swiper__button-prev::after,
.gallery-swiper__button-next::after {
  position: absolute;
  content: "";
  width: 7.07px;
  height: 7.07px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: border-color 0.2s ease-in-out;
}

.gallery-swiper__button-prev::after {
  transform: rotate(45deg);
}

.gallery-swiper__button-next::after {
  transform: rotate(-135deg);
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  cursor: auto;
  pointer-events: none;
  border-color: rgba(102, 102, 102, 0.5);
  background: rgba(102, 102, 102, 0.5);
}

.swiper-button-next.swiper-button-disabled::after,
.swiper-button-prev.swiper-button-disabled::after {
  border-color: #CACACA;
}

.gallery-swiper__slide:focus {
  outline: none;
}

.gallery-swiper__slide:not(:hover):focus::before {
  border-color: var(--focus);
}

.gallery-swiper__slide::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border: 3px solid transparent;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.gallery-swiper__slide:active::before {
  background-color: rgba(194, 131, 243, 0.4);
  border-color: rgba(194, 131, 243, 0.4);
}

.gallery-swiper__slide::after {
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  content: url("../img/expansion-icon.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.gallery-swiper__slide:hover::after {
  opacity: 1;
}

.popup {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.5s ease-in-out;
}

.popup_active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.popup_inactive {
  opacity: 0;
  pointer-events: none;
}

.popup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  min-height: 100%;
}

.popup__content {
  position: relative;
  display: flex;
  max-width: 900px;
  background-color: #fff;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
}

.popup__picture {
  display: none;
}

.popup__picture_selected {
  display: flex;
}

.popup__info {
  display: none;
  flex-direction: column;
  padding: 121px 50px 50px;
}

.popup__info_selected {
  display: flex;
}

.popup__title {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: var(--text-color-2);
}

.popup__artist {
  margin-bottom: -1px;
  font-size: 24px;
  line-height: 33px;
}

.popup__picture-name {
  font-size: 16px;
  line-height: 22px;
}

.popup__period {
  margin-bottom: 39px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.popup__description {
  max-width: 400px;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color-2);
}

.popup__close-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  display: flex;
}

.popup__close-btn path {
  transition: fill 0.2s ease-in-out;
}

.popup__close-btn:focus {
  outline: none;
}

.popup__close-btn:focus path, .popup__close-btn:hover path {
  fill: #9D5CD0;
}

.popup__close-btn:active path {
  fill: #7943A4;
}

.popup__close-btn::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}

/* catalog */
.catalog__header {
  margin-bottom: 39px;
}

.catalog__title {
  margin-bottom: 16px;
}

.catalog__description {
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-2);
}

.catalog__content {
  display: flex;
  justify-content: space-between;
}

.about-artist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 46.875%;
}

.about-artist__picture {
  display: none;
  margin-bottom: 30px;
}

.about-artist__picture_selected {
  display: flex;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.about-artist__info {
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

.about-artist__info_selected {
  display: flex;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-artist__name {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color-2);
}

.about-artist__life-years {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.about-artist__text {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-2);
}

.about-artist__link {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
  transition: color 0.2s ease-in-out;
}

.about-artist__link::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -8px;
  bottom: -5px;
  left: -8px;
  background-color: #9D5CD0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.about-artist__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #9D5CD0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.about-artist__link:focus {
  outline: none;
}

.about-artist__link:not(:hover):focus {
  color: var(--text-color-1);
}

.about-artist__link:not(:hover):focus::before {
  opacity: 1;
}

.about-artist__link:hover::after {
  opacity: 1;
}

.about-artist__link:active {
  color: var(--text-color-2);
}

.about-artist__link:active::after {
  background-color: var(--text-color-2);
}

.about-artist__link span {
  position: relative;
  z-index: 10;
}

/* =====Ремонтные работы===== */

.accordion {
  width: 50%;
}

.accordion__item {
  display: flex;
  flex-direction: column;
  transition: border-color 0.2s ease-in-out;
}

.accordion__item:last-child {
  border-bottom: 1px solid #CACACA;
}

.accordion__item:last-child:hover {
  border-color: #9D5CD0;
}

.accordion__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  border-top: 1px solid #CACACA;
  transition: border-color 0.2s ease-in-out;
}

.accordion__trigger:focus {
  outline: none;
}

.accordion__item[data-active] .accordion__trigger {
  border-color: #7943A4;
}

.accordion__item .accordion__trigger:hover {
  border-color: #9D5CD0;
}

.accordion__item .accordion__trigger:active {
  border-color: #7943A4;
}

.accordion__item:not([data-active]):hover + .accordion__item .accordion__trigger {
  border-color: #9D5CD0;
}

.accordion__item:not([data-active]):active + .accordion__item .accordion__trigger {
  border-color: #7943A4;
}

.accordion__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color-2);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.accordion__trigger:not(:hover):focus .accordion__title {
  color: #fff;
  background-color: #9D5CD0;
}

.accordion__item[data-active] .accordion__title {
  color: #7943A4;
}

.accordion__trigger:hover .accordion__title {
  color: #9D5CD0;
}

.accordion__trigger:active .accordion__title {
  color: #7943A4;
}

.accordion__expand-icon {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #ECECEC;
  background-color: #ECECEC;
  transition: transform 0.5s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.accordion__trigger:focus .accordion__expand-icon {
  border-color: #D1A9F0;
  background-color: #D1A9F0;
}

.accordion__item[data-active] .accordion__expand-icon {
  border-color: #9D5CD0;
  background-color: #D1A9F0;
}

.accordion__trigger:hover .accordion__expand-icon {
  border-color: #D1A9F0;
  background-color: #D1A9F0;
}

.accordion__trigger:active .accordion__expand-icon {
  border-color: #9D5CD0;
  background-color: #D1A9F0;
}

.accordion__expand-icon_rotated {
  transform: rotate(180deg);
}

.accordion__expand-icon::after {
  content: "";
  position: absolute;
  top: 15.44px;
  left: 17.11px;
  width: 11.79px;
  height: 11.79px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(-45deg);
}

.drop-down-block {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.drop-down-block_active {
  visibility: visible;
}

.drop-down-block__list {
  column-count: 3;
  padding: 25px 0;
  border-top: 1px solid #CACACA;
  transition: border-color 0.2s ease-in-out;
}

.accordion__item[data-active] .drop-down-block__list {
  border-color: #7943A4;
}

.accordion__item[data-active] .accordion__trigger:hover + .drop-down-block .drop-down-block__list {
  border-color: #9D5CD0;
}

.accordion__item[data-active] .accordion__trigger:active + .drop-down-block .drop-down-block__list {
  border-color: #7943A4;
}

.drop-down-block__btn {
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-2);
}

.cork {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #CACACA;
  transition: border-color 0.2s ease-in-out;
}

.accordion__item[data-active] .cork {
  border-color: #7943A4;
}

.accordion__item[data-active] .accordion__trigger:hover + .drop-down-block .cork {
  border-color: #9D5CD0;
}

.accordion__item[data-active] .accordion__trigger:active + .drop-down-block .cork {
  border-color: #7943A4;
}

/* .cork_disabled {
  display: none;
} */

.cork__img {
  position: relative;
  margin-right: 24px;
  width: 275px;
  min-height: 189px;
  border: 2px solid #999;
}

.cork__img::after {
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  content: "";
  background-color: #999;
}

.cork__title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color-2);
}

.cork__description {
  margin-bottom: 5px;
  max-width: 275px;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color-2);
}

.cork__link {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
  transition: color 0.2s ease-in-out;
}

.cork__link::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -8px;
  bottom: -5px;
  left: -8px;
  background-color: #9D5CD0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.cork__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #9D5CD0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.cork__link:focus {
  outline: none;
}

.cork__link:not(:hover):focus {
  color: var(--text-color-1);
}

.cork__link:not(:hover):focus::before {
  opacity: 1;
}

.cork__link:hover::after {
  opacity: 1;
}

.cork__link:active {
  color: var(--text-color-2);
}

.cork__link:active::after {
  background-color: var(--text-color-2);
}

.cork__link span {
  position: relative;
  z-index: 10;
}

/* .accordion {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.accordion__item {
  display: flex;
  flex-direction: column;
  transition: border-color 0.2s ease-in-out;
}

.accordion__trigger {
  position: relative;
  display: flex;
  padding-top: 41px;
  padding-bottom: 41px;
  border-top: 1px solid #CACACA;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

.accordion__trigger:focus {
  outline: none;
}

.accordion__trigger_active {
  border-color: var(--active);
}

.accordion__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color-2);
  transition: color 0.2s ease-in-out, background-color 0.2s ease;
}

.accordion__trigger:not(:hover):not(:active):not(.accordion__trigger_active):focus .accordion__title {
  background-color: #9D5CD0;
  color: var(--text-color-1);
}

.accordion__trigger:hover .accordion__title {
  color: #9D5CD0;
}

.accordion__trigger:active .accordion__title {
  color: var(--active);
}

.accordion__trigger_active .accordion__title {
  color: var(--active);
}

.accordion__expand-icon {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  width: 50px;
  height: 50px;
  border: 2px solid #ECECEC;
  border-radius: 100%;
  background-color: #ECECEC;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.accordion__trigger:focus .accordion__expand-icon {
  background-color: #D1A9F0;
  border-color: #D1A9F0;
}

.accordion__trigger:hover .accordion__expand-icon {
  background-color: #D1A9F0;
  border-color: #D1A9F0;
}

.accordion__trigger:active .accordion__expand-icon {
  border-color: #9D5CD0;
}

.accordion__trigger_active .accordion__expand-icon {
  border-color: #9D5CD0;
  background-color: #D1A9F0;
}

.accordion__expand-icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  height: 12.3px;
  width: 12.3px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transition: transform 0.2s ease-in-out;
}

.accordion__trigger_active .accordion__expand-icon::after {
  transform: translateX(-50%) translateY(-50%) rotate(135deg);
}

.expansion-block {
  display: none;
  max-height: 0;
  border-top: 1px solid #CACACA;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.accordion__trigger_active + .expansion-block {
  border-color: var(--active);
}

.accordion__trigger:hover,
.accordion__item:not(:last-child):not([data-active]):hover + .accordion__item .accordion__trigger,
.accordion__item:last-child:not([data-active]):hover,
.accordion__item[data-active] .accordion__trigger:hover + .expansion-block {
  border-color: #9D5CD0;
}

.accordion__trigger:active,
.accordion__item:not(:last-child):not([data-active]):active + .accordion__item .accordion__trigger,
.accordion__item:last-child:not([data-active]):active,
.accordion__item[data-active] .accordion__trigger:active + .expansion-block {
  border-color: var(--active);
}

.expansion-block_visible {
  display: block;
}

.expansion-block__list {
  column-count: 3;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: border-color 0.2s ease-in-out;
}

.accordion__item:last-child {
  border-bottom: 1px solid #CACACA;
}

.expansion-block__btn {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-2);
}

.expansion-block__btn:focus {
  outline: none;
}

.expansion-block__btn:not(:hover):not(:active):focus {
  background-color: #9D5CD0;
}

.expansion-block__btn::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.expansion-block__btn:hover::after {
  background-color: #9D5CD0;
}

.cork {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: border-color 0.2s ease-in-out;
}

.cork_disabled {
  display: none;
}

.cork__img {
  position: relative;
  margin-right: 24px;
  width: 275px;
  min-height: 189px;
  border: 2px solid #999;
}

.cork__img::after {
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  content: "";
  background-color: #999;
}

.cork__title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color-2);
}

.cork__description {
  margin-bottom: 5px;
  max-width: 275px;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color-2);
}

.cork__link {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
  transition: color 0.2s ease-in-out;
}

.cork__link::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -8px;
  bottom: -5px;
  left: -8px;
  background-color: #9D5CD0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.cork__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #9D5CD0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.cork__link:focus {
  outline: none;
}

.cork__link:not(:hover):focus {
  color: var(--text-color-1);
}

.cork__link:not(:hover):focus::before {
  opacity: 1;
}

.cork__link:hover::after {
  opacity: 1;
}

.cork__link:active {
  color: var(--text-color-2);
}

.cork__link:active::after {
  background-color: var(--text-color-2);
}

.cork__link span {
  position: relative;
  z-index: 10;
} */

/* =====Ремонтные работы===== */

/* events */
.events {
  padding-top: 0;
}

.events__title {
  margin-bottom: 16px;
}

.events__content {
  position: relative;
}

.event-card {
  display: flex;
  flex-direction: column;
  height: auto;
}

.event-card__picture {
  display: flex;
}

.event-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding: 13px 49px 40px;
  border-right: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-left: 1px solid #CACACA;
}

.event-card__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.event-card__place-and-time {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.event-card__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color-2);
}

.event-card__description {
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-2);
}

.event-card__link {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  color: #9D5CD0;
  transition: color 0.2s ease-in-out;
}

.event-card__link span {
  position: relative;
  z-index: 10;
}

.event-card__link::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -8px;
  bottom: -5px;
  left: -8px;
  background-color: #9D5CD0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.event-card__link::after {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 2px;
  z-index: 10;
  content: "";
  height: 1px;
  background-color: #9D5CD0;
  transition: background-color 0.2s ease-in-out;
}

.event-card__link:focus {
  outline: none;
}

.event-card__link:not(:hover):focus {
  color: var(--text-color-1);
}

.event-card__link:not(:hover):focus::before {
  opacity: 1;
}

.event-card__link:not(:hover):focus::after {
  background-color: var(--text-color-1);
}

.event-card__link:hover {
  color: #7943A4;
}

.event-card__link:hover::after {
  background-color: #7943A4;
}

.event-card__link:active {
  color: var(--text-color-2);
}

.event-card__link:active::after {
  background-color: var(--text-color-2);
}

.events__swiper-button-prev {
  left: -25px;
}

.events__swiper-button-next {
  right: -25px;
}

.events__swiper-button-prev, .events__swiper-button-next {
  width: 50px;
  height: 50px;
  border: 2px solid #ECECEC;
  border-radius: 100%;
  background-color: #ECECEC;
  transition: opacity 0.2s ease-in-out;
}

.events__swiper-button-prev::after,
.events__swiper-button-next::after {
  top: 50%;
  left: 50%;
  content: "";
  width: 11.79px;
  height: 11.79px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.events__swiper-button-prev::after {
  transform: rotate(45deg);
}

.events__swiper-button-next::after {
  transform: rotate(-135deg);
}

.events__swiper-button-next:focus,
.events__swiper-button-prev:focus {
  outline: none;
  border-color: #9D5CD0;
}

.events__swiper-button-prev:hover,
.events__swiper-button-next:hover {
  background-color: #D1A9F0;
  border-color: #D1A9F0;
}

.events__swiper-button-prev:active,
.events__swiper-button-next:active {
  background-color: #D1A9F0;
  border-color: #9D5CD0;
}

.events__swiper-button-prev.swiper-button-disabled,
.events__swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

/* projects */
.projects {
  padding-top: 0;
}

.projects__title {
  margin-bottom: 16px;
}

.projects__description {
  margin-bottom: 20px;
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-2);
}

.tooltip {
  position: relative;
  bottom: -3px;
  display: inline-flex;
  justify-content: center;
}

.tooltip__icon {
  cursor: pointer;
}

.tooltip__icon:focus {
  outline: none;
}

.tooltip__icon .circle,
.tooltip__icon .sign {
  transition: fill 0.2s ease-in-out;
}

.tooltip__icon:hover .circle,
.tooltip__icon:focus .circle {
  fill: #D1A9F0;
}

.tooltip__icon:active .circle {
  fill: #9D5CD0;
}

.tooltip__icon:active .sign {
  fill: #fff;
}

.tooltip__text {
  position: absolute;
  display: flex;
  bottom: 27px;
  padding: 8px 11px;
  max-width: 264px;
  width: max-content;
  background-color: #9D5CD0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--text-color-1);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltip__icon:hover + .tooltip__text,
.tooltip__icon:focus + .tooltip__text {
  opacity: 1;
}

.tooltip__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - 7px);
  border-top: 8px solid #9D5CD0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.projects__link {
  position: relative;
  color: #9D5CD0;
  transition: color 0.2s ease-in-out;
}

.projects__link span {
  position: relative;
  z-index: 10;
}

.projects__link::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  right: -4px;
  left: -4px;
  background-color: #9D5CD0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.projects__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 1px;
  left: 1px;
  height: 1px;
  background-color: #9D5CD0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.projects__link:focus {
  outline: none;
}

.projects__link:not(:hover):focus {
  color: var(--text-color-1);
}

.projects__link:not(:hover):focus::before {
  opacity: 1;
}

.projects__link:hover::after {
  opacity: 1;
}

.projects__link:active {
  color: #7943A4;
}

.projects__link:active::after {
  background-color: #7943A4;
}

.projects__swiper-title {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color-2);
}

.projects__content {
  position: relative;
}

.partners {
  max-width: 1450px;
}

.partners__slide {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border: 1px solid #CACACA;
  transition: border-color 0.2s ease-in-out;
}

.partners__slide:focus, .partners__slide:active {
  outline: none;
  border-color: var(--border-1);
}

.partners__img {
  filter: grayscale();
  opacity: 0.5;
  transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.partners__slide:hover .partners__img,
.partners__slide:active .partners__img {
  filter: none;
  opacity: 1;
}

.projects__swiper-button-prev, .projects__swiper-button-next {
  top: calc(50% - 15px);
  margin: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #ECECEC;
  border-radius: 100%;
  background-color: #ECECEC;
  transition: opacity 0.2s ease-in-out;
}

.projects__swiper-button-prev {
  left: 0;
}

.projects__swiper-button-next {
  right: 0;
}

.projects__swiper-button-prev::after,
.projects__swiper-button-next::after {
  top: 50%;
  left: 50%;
  content: "";
  width: 7.07px;
  height: 7.07px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.projects__swiper-button-prev::after {
  transform: rotate(45deg);
}

.projects__swiper-button-next::after {
  transform: rotate(-135deg);
}

.projects__swiper-button-next:focus,
.projects__swiper-button-prev:focus {
  outline: none;
  border-color: #9D5CD0;
}

.projects__swiper-button-prev:hover,
.projects__swiper-button-next:hover {
  background-color: #D1A9F0;
  border-color: #D1A9F0;
}

.projects__swiper-button-prev:active,
.projects__swiper-button-next:active {
  background-color: #D1A9F0;
  border-color: #9D5CD0;
}

/* contacts */
.contacts {
  padding: 0;
}

.contacts__top {
  padding: 37px 0;
  border: 1px solid #CACACA;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.address__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color-2);
}

.address__point {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-2);
}

.callback-form {
  display: flex;
}

.callback-form__label {
  position: relative;
  margin-right: 20px;
}

.callback-form__input {
  padding: 8px 23px;
  width: 270px;
  border: 1px solid #333;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  transition: background-color 0.2s ease-in-out;
}

.callback-form__input:hover,
.callback-form__input:focus {
  outline: none;
  background-color: #ECECEC;
}

.callback-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}

.callback-form__btn {
  position: relative;
  padding: 10.5px 33px;
  width: 329px;
  border: 2px solid var(--border-1);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #9D5CD0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.callback-form__btn:focus {
  outline: none;
}

.callback-form__btn:hover {
  background-color: #9D5CD0;
  color: var(--text-color-1);
}

.callback-form__btn:active {
  background-color: var(--active);
}

.callback-form__btn::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.callback-form__btn:focus::after {
  opacity: 1;
}

.social-block__title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color-2);
}

.social-block__list {
  display: flex;
}

.social-block__item {
  flex-shrink: 0;
}

.social-block__item:not(:last-child) {
  margin-right: 20px;
}

.social-block__link {
  position: relative;
  display: flex;
  transition: opacity 0.2s ease-in-out;
}

.social-block__link:hover,
.social-block__link:focus {
  outline: none;
  opacity: 0.5;
}

.social-block__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid var(--border-1);
  border-radius: 100%;
  opacity: 0;
  transition: opcity 0.2s ease-in-out;
}

.social-block__link:active,
.social-block__link:active::after {
  opacity: 1;
}

.just-validate-error-field {
  border-color: #D11616;
}

.just-validate-error-label {
  position: absolute;
  left: 24px;
  bottom: calc(100% + 2px);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D11616 !important;
}

.contacts__map {
  height: 700px;
  max-width: 1920px;
  filter: grayscale();
}

/* footer */
.footer {
  background-color: #000;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 48px;
}

.footer__link-logo {
  display: flex;
}

.social-list {
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 20px;
}

.social-list__link {
  display: flex;
}

.social-list__link path {
  transition: fill 0.2s ease-in-out;
}

.social-list__link:hover path,
.social-list__link:focus path {
  fill: #fff;
}

.social-list__link:active path {
  fill: #9D5CD0;
}
